<div class="recipe-list">
  <h1>Recipes</h1>
  <% recipes = contentful.entries(content_type: 'recipe') %>
  <% recipes.each do |recipe| %>
      <div class="row recipe">
        <div class="col col-md-6">
          <a href=<%= recipe_path(recipe.id) %>>
              <img src="<%= recipe.photo.url %>" width=100% />
          </a>
        </div>
        <div class="col col-md-6">
          <h5><%= link_to recipe.title, recipe_path(recipe.id) %></h5>
        </div>
      </div>
  <% end %>
</div>