/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipe-list .row {
    margin-top: 20px;
}

.recipe-list .textbox{
    position: relative;
}

.recipe-list .textbox h5{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.recipe-list img {
    width: 100%;
}

.recipe-list a {
    text-decoration: none;
    color: black;
}

.recipe .recipe-text {
    padding: 20px;
}

html, body {
    width: 100%;
    height: 100%;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    flex-grow: 1;
}

.topnav, .content, footer {
    flex-shrink: 0;
}

footer {
    width: 100%;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    background-color: #2d2926;
    overflow:hidden;
}

footer h3 {
    color: #ddd;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #aaa;
}

footer ul {
    background-color: transparent;
    float: left;
    list-style: none;
}

footer ul li {
    margin-left: 10px;
}

.recipe img {
    padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #91e7cd;
  color: black;
}