<div class="topnav">
  <a class="<%= 'active' if current_page?(recipes_path) %>" href=<%= recipes_path %>>Recipes</a>
  <a class="<%= 'active' if current_page?(faq_path) %>" href=<%= faq_path %>>FAQ</a>
</div>